/* Estilos generales */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(8px);
    color: #333;
}

/* Contenedor del juego */
#game-container {
    background: rgba(255, 255, 255, 0.85);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-top: 20px;
}

/* Cuadrícula de juego */
#game-grid {
    display: grid;
    grid-template-columns: repeat(9, 80px);
    grid-template-rows: repeat(5, 80px);
    gap: 5px;
    background: #5a8f3d;
    padding: 10px;
    border-radius: 10px;
}

/* Celdas de la cuadrícula */
.grid-cell {
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #355e3b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.grid-cell:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* Estilos de las plantas */
#plant-selection {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    background: rgba(90, 143, 61, 0.9);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

/* Botones de plantas */
.plant-btn {
    background: #355e3b;
    border: 2px solid #5a8f3d;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    width: 90px;
}

.plant-btn img {
    width: 50px;
    height: auto;
    margin-bottom: 5px;
}

.plant-btn:hover {
    background: #5a8f3d;
    transform: scale(1.1);
}

/* Estilos del footer */
footer {
    background: #355e3b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    width: 100%;
    font-size: 16px;
    position: relative;
    margin-top:30px;
}

/* Enlace de cerrar sesión */
footer p a {
    color: #fbbc05;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-top: 8px;
}

footer p a:hover {
    color: #ff9f00;
}
